* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
}
.botones{
  width: 1000px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 25px;
}
.pag, .met{
  display: flex;
  gap: 25px;
}
.iframe{
  border: solid;
  border-radius: 10px;
  width: 1000px;
  height: 800px;
}
.iframe iframe{
  width: 100%;
  height: 100%;
}